{% extends 'layout.html' %}

{% block content %}
    <h1>URL Shortener and IP Logger</h1>
    <form action="{{ url_for('add_link') }}" method="post">
        <input type="text" name="url" placeholder="Enter your URL" required>
        <input type="submit" value="Shorten">
    </form>
    <table>
        <tbody>
            {% for short_url in short_urls %}
                <tr>
                    <td>{{ short_url.original }}</td>
                    <td><a href="{{ url_for('redirect_url', short_url=short_url.short) }}" target="_blank">{{ request.url_root }}{{ short_url.short }}</a></td>
                    <td><a href="{{ url_for('view_ips', short_url=short_url.short) }}">View IPs</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
