{% extends 'layout.html' %}

{% block content %}
    <style>
        h1 {
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            color:  #ebedee;
            background-color: black;
            border-radius: 15px 50px 30px ;
            text-align: center;

        }
        table {
            width: 100%;
            border-collapse: collapse;
            font-family:Arial, Helvetica, sans-serif;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 8px;
            text-align: left;
        }
        th {
            
            background: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);

        }
    </style>
    <div class="box">
    <h1>Shortened URL's</h1>
    <table>
        <thead>
            <tr>
                <th>Original URL</th>
                <th>Short URL</th>
                <th>Clicks</th>
                <th>IP Addresses</th>
            </tr>
        </thead>
        <tbody>
            {% for link in links %}
                <tr>
                    <td><a href="{{ link.original }}" target="_blank">{{ link.original }}</a></td>
                    <td><a href="{{ url_for('redirect_url', short_url=link.short, _external=True) }}" target="_blank">{{ url_for('redirect_url', short_url=link.short, _external=True) }}</a></td>
                    <td>{{ link.clicks }}</td>
                    <td><a href="{{ url_for('view_ips', short_url=link.short) }}">View IPs</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
