{% extends 'layout.html' %}

{% block content %}
<style>
    .ip {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
  color: azure;
    }
</style>
<div class="ip">
    <h2>Logged IP Addresses</h2>
    <table class="table">
        <thead>
            <tr>
                <th>IP Address</th>
                <th>Visit Time</th>
            </tr>
        </thead>
        <tbody>
            {% for ip in ip_addresses %}
                <tr>
                    <td>{{ ip.ip_address }}</td>
                    <td>{{ ip.visit_time }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
